
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;margin: 0;
    font-family: 'Poppins', sans-serif;

}

.Navbar {
    display: flex;
    justify-content: space-between;
    background-color: #6b5b95 ;
    font-size: large;

}
.leftNavElement {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 1.5rem;
    /* background-color: red; */
}
.logo {
    width: 20%;
    padding: 1.5rem;
}
 .quotes{

    
} 

article {
    
    position: absolute;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 10%);
    /* border: 2px; */
    /* margin: 5px; */
    /* padding: 5%; */
    width: 100vw;
    text-align: center;
    opacity: 0;
    transition: all 0.3s linear;
    /* max-width: 100%; */
    
}
article.currentSlide{
    opacity: 1;
    transform: translateX(0);
}article.nextSlide {
    transform: translateX(100);
    
}
.author{
    display: flex;
    justify-content: center;
}
article > p {
    color: red;

}



